---
layout: archive
title: "Other"
permalink: /other/
author_profile: true
---

{% include base_path %}


<h2>Photography</h2> 

<style>
.photo{
    margin: 30px 0px 30px 0px;
}
</style>

<p style="text-align:center;">
    {% include image-gallery.html folder="/images/photos/" %}
</p>

<!--I also maintain a 360-card Magic: The Gathering cube --- basically a bunch of trading cards that can be drafted, assembled into decks, and played on short notice. Check out my <a href="https://cubecobra.com/cube/list/v89">list!</a>-->
